<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">


	<servlet>
		<servlet-name>memberServlet</servlet-name>
		<servlet-class>member.service.web.RegisterMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberServlet</servlet-name>
		<url-pattern>/member/register.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>memberShowUpdateSerblet</servlet-name>
		<servlet-class>member.service.web.ShowUpdateSerblet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberShowUpdateSerblet</servlet-name>
		<url-pattern>/member/showUpdateSerblet.do</url-pattern>
	</servlet-mapping>

</web-app>